body {
  background: var(--background);
}

.overlay {
  background: var(--background);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  stroke: var(--grid-color);
  mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), var(--background-alt));
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(148 163 184 / 0.05)'><path d='M0 .5H31.5V32'/></svg>");
  z-index: -1;
}
